{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
                <input name="username" placeholder="Username" type="text"/>
                <hr>
                <input name="password" placeholder="Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                <hr>
                <input name="confirm_password" placeholder="Confirm Password" type="password"/>
                <hr>
                <button type="submit" name="confirmation">Register</button>
        </fieldset>
    </form>
{% endblock %}